<div fxLayout="row" fxLayoutAlign="space-around start">

  <button id="Remaind" matTooltip="Remaind me" mat-icon-button [matMenuTriggerFor]="menu4">
      <mat-icon>notification_important</mat-icon>
    </button>
    <mat-menu #menu4="matMenu" class="matmenu">
      <button class="arrow" mat-stroked-button>
        <mat-icon matTooltip="go back"> arrow_back</mat-icon>
      </button>
      <p>Remainder:</p>
      <p>Later Today     20:00</p>
      <p>Tommorow        08:00</p>
      <p>Pick date & time</p>
  <mat-divider></mat-divider>
  
  <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  </mat-menu>
  
  <button mat-button> <img id="img" src="../../../assets/images/addnote.svg" /></button>
  <button mat-button><img id="img" src="../../../assets/images/color.svg" /></button>
  <button mat-button><img id="img" src="../../../assets/images/img.svg" /></button>
  <button mat-button><img id="img" src="../../../assets/images/archieve.svg" /></button>
  <button mat-button><img id="img" src="../../../assets/images/more_vert.svg" /></button>
  
  
  
  </div>