<div fxLayout="row">
  <div fxFlex='15'><button id="Remind" matTooltip="Remind me" mat-icon-button [matMenuTriggerFor]="remindMenu">
      <mat-icon class="material-icons">notification_important</mat-icon>
    </button></div>
  <mat-menu #remindMenu="matMenu" class="Remaindermatmenu">
    <app-reminder-icon [card]=card></app-reminder-icon>
  </mat-menu>
  <div fxFlex='15'><button mat-icon-button matTooltip="Collaborator" (click)="addCollaborator()">
      <mat-icon class="material-icons ">person_add</mat-icon>
    </button></div>
  <div fxFlex='15'><button mat-icon-button matTooltip="Select theme" [matMenuTriggerFor]="selectTheme">
      <mat-icon class="material-icons">color_lens</mat-icon>
    </button></div>
  <mat-menu #selectTheme="matMenu" class="matmenu">
    <ng-template matMenuContent>
      <div fxLayout=row fxLayoutGap=10px style="margin-top:5px" *ngFor='let row of colorArray'>
        <div *ngFor='let color of row'>
          <button [ngStyle]="{'background-color': color.color }" (click)='changeColor(color.color)'
            matTooltip="{{color.name}}" mat-mini-fab></button>
        </div>
      </div>
    </ng-template>
  </mat-menu>
  <div fxFlex='15'><button mat-icon-button>
      <mat-icon class="material-icons">image</mat-icon>
    </button></div>
  <div fxFlex='15'><button mat-icon-button (click)="changeArchiveNote()">
      <mat-icon *ngIf=card.isArchived class="material-icons">unarchive</mat-icon>
      <mat-icon *ngIf=!card.isArchived class="material-icons">archive</mat-icon>
    </button></div>
  <div fxFlex='15'><button mat-icon-button [matMenuTriggerFor]="More">
      <mat-icon class="material-icons">more_vert</mat-icon>
    </button></div>
  <mat-menu #More="matMenu" class="matmenu">
    <div *ngIf=addLabel>
      <button mat-menu-item>
        <div fxLayout="row" fxLayoutAlign="space-between start" (click)="trashNote()">
          Delete
        </div>
      </button>
      <button mat-menu-item>
        <div fxLayout="row" fxLayoutAlign="space-between start" (click)="addLabelToggle()"
          (click)="$event.stopPropagation()">
          Add Label<Label></Label>
        </div>
      </button>
      <button mat-menu-item>
        <div fxLayout="row" fxLayoutAlign="space-between start" (click)="$event.stopPropagation()">
          Add drawing
        </div>
      </button>
      <button mat-menu-item>
        <div fxLayout="row" fxLayoutAlign="space-between start" (click)="$event.stopPropagation()">
          Make a copy
        </div>
      </button>
      <button mat-menu-item>
        <div fxLayout="row" fxLayoutAlign="space-between start" (click)="$event.stopPropagation()">
          Show checkboxes
        </div>
      </button>
    </div>
    <div *ngIf=!addLabel>
      Label note
      <div>
        <input class="textArea" fxFlex=80 [(ngModel)]="labelName" placeholder="Search for Label">
      </div>
      <div *ngFor="let label of labelList">
        <div>
            <mat-checkbox (click)="labelToNote(label)">{{label.label}}</mat-checkbox></div>
      </div>
    </div>
  </mat-menu>
  <div fxFlex='' *ngIf="show">
    <button class="addnote" mat-button (click)="updateNote()">close</button>
  </div>
</div>