<div fxLayout="row" fxLayoutAlign="space-around start">
  <button id="Remind" matTooltip="Remind me" mat-icon-button [matMenuTriggerFor]="remindMenu">
    <i class="material-icons">notification_important</i>
  </button>
  <mat-menu #remindMenu="matMenu" class="matmenu">
    <p>Reminder:</p>
    <div>
      <button mat-menu-item>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div>Later today</div>
          <div fxFlexOffset='20'>08:00 PM</div>
        </div>
      </button>
    </div>
    <div>
        <button mat-menu-item>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div>Tommorow</div>
            <div fxFlexOffset='20'>08:00 AM</div>
          </div>
        </button>
      </div>
      <div>
          <button mat-menu-item>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <div>Next week</div>
              <div fxFlexOffset='18'>Mon,08:00AM</div>
            </div>
          </button>
        </div>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-menu>
  <button mat-button> <i class="material-icons">person_add</i></button>
  <button mat-button matTooltip="Select theme" [matMenuTriggerFor]="selectTheme">
    <i class="material-icons">color_lens</i>
  </button>
  <mat-menu #selectTheme="matMenu" class="matmenu">
    <ng-template matMenuContent>
        <div fxLayout=row fxLayoutGap=10px style="margin-top:5px" *ngFor='let row of colorArray'>
          <div *ngFor='let color of row'>
            <button [ngStyle]="{'background-color': color.color }" (click)='changeColor(color.color)'
              matTooltip="{{color.name}}" mat-mini-fab></button>
          </div>
        </div>
    </ng-template>
  </mat-menu>
  <button mat-button><i class="material-icons">image</i></button>
  <button mat-button><i class="material-icons">archive</i></button>
  <button mat-button><i class="material-icons">more_vert</i></button>
</div>