.takenote{
    margin-bottom: 10px;
    color: rgb(173, 166, 166);
    border: none;
    outline: none;
    user-select: none;
  }
  .textArea{
    border: none;
    outline: none;
    user-select: none;
  } 