.takenote{
  background: transparent;
    margin-bottom: 10px;
    color: rgb(173, 166, 166);
    border: none;
    outline: none;
    user-select: none;
  }
  .textArea{
    background: transparent;
    border: none;
    outline: none;
    user-select: none;
  } 
//   :host::
ng-deep .mat-dialog-container{
    padding:0%; 
    border-radius: 18px!important;
}
.display-note{
  border-radius: 0px;
}
.example{
  width:100%;
  border-radius: 18px;

}


@media only screen and (max-width: 2520px) {
  .dialog{
    width: 750px;
  }
}


@media only screen and (max-width: 1200px) {
  .dialog{
    width: 700px;
  }
}

@media only screen and (max-width: 900px) {
  .dialog{
    width: 650px;
  }
}


@media only screen and (max-width: 600px) {
  .dialog{
    width: 450px;
  }
}

@media only screen and (max-width: 450px) {
  .dialog{
    width: 400px;
  }
}

@media only screen and (max-width: 350px) {
  .dialog{
    width: 320px;
  }
}
