<div fxFlex='100' fxLayout="column" >
  <mat-card [style.background]="card.color">
    <div  fxLayout="column" fxFlex="100" fxFlexOffset.xl="20" fxFlex.xs='97'>
      <div>
        <div  fxLayout="row" class="takenote">
          <textarea class="textArea" matTextareaAutosize placeholder="Title" [(ngModel)]="card.title" ></textarea>
        </div>
        <div  fxLayout="column" class="takenote">
          <textarea class="textArea" matTextareaAutosize placeholder="Note" [(ngModel)]="card.description"></textarea>
        </div>
      </div>
      <div fxFlex='100'>
        <app-note-icons [card]=card (addNoteEvent)="closeDialog()"></app-note-icons>
      </div>
    </div>
  </mat-card>
</div>