.card {
    width: 40%;
    height: 70%;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.container{
    display: flex;
    flex-direction: column;
    padding: 5%;  
}
.rowContainer{
    display: flex;
    flex-direction: row;
    padding: 5%;
}
#createAccount{
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 0;
}
.fundoo{
    font-weight: normal;
    .f{
        color: blue;
    }
    .u{
        color: red;
    }
    .n{
        color: rgb(209, 209, 54);
    }
    .d{
        color: blueviolet;
    }
    .o1{
        color: green;
    }
    .o2{
        color: orangered;
    }
}
.shadow
{
height: 350px;
width: 270px;
background-color:#5f5f5f;
}
.select
{
  height: 200px;
  width: 180px;
    background-color:    #fb0;

}
.notSelect
{
  height: 200px;
  width: 180px;
    background-color: #5f5f5f;
}
.break
{
word-break: break-word;
width:100px; 
height: 100px;
margin-top: -8%;
margin-left: -5%;
}
.currSize{
    font-size: 12px
  }
  .whiteFont
  {
  color: white;
  font-weight: bold;
  
  }
  .fontSize{
    font-size: 10px;
  }
  .fontColor{
    font-size: 10px;
    color: #0000ff;
  }