.sample{
    background: transparent;
}

.textArea{
    background: transparent;
    border: none;
    outline: none;
    // user-select: none;
    min-height: auto;
    resize: none;
} 
.display-note{
    border-radius: 18px;
}
