<mat-card fxLayout="column" class="matcard" fxFlex="55" fxFlexOffset.xl="20" fxFlex.xs='97'
    [style.backgroundColor]="color">
    <div fxLayout="row" fxLayoutAlign="end start">
      <button mat-icon-button color="basic" (click)="pinned()">
        <div class="barpin" *ngIf="flag1==true">

          <img src="../../../assets/images/bell.svg" />

        </div>
        <div class="barpin" *ngIf="flag1==false">

          <img src="../../../assets/images/bell.svg" />
        </div>
      </button>
    </div>
    <div >
      <input contenteditable="true" data-text="Title" fxFlex="30" id="noteContent" [formControl]="noteTitle"
      fxLayout="column" class="title">
    </div>
    <div class="Border" fxLayout="column" class="takenote">
      <textarea class="textArea" matTextareaAutosize placeholder="Take a note.. " [formControl]="noteContent"
        class="textArea"></textarea>
    </div>
    <div fxFlex='100'>
      <app-note-icons> </app-note-icons>
    </div>
    <div fxFlex='10' fxLayoutAlign="end end">
      <button class="addnote" mat-button (click)="addNote()">close</button>
    </div>
  </mat-card>