.display-note{
    max-width: 240px;   
    margin-top: 20px;
}
.note-display{
margin-left: 10%;
margin-right: 10%;
}
::ng-deep .ng-star-inserted{
    margin-right: 0%;
}
.title{
    width: 180px;
}




.example-card{
    max-width:240px;
}